<div class="row">
    <!-- Column -->
    <div class="col-lg-5 col-xlg-3 col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="m-t-30 text-center"> <img src="/api/imagen/institucion/{{dataInstitucion.urlImagen}}" class="img-circle" width="150" />
 
           <div *ngIf="currentFileUpload" class="progress">
             <div class="progress-bar progress-bar-info progress-bar-striped"
                   role="progressbar"
                   attr.aria-valuenow="{{progress.percentage}}"
                   aria-valuemin="0" aria-valuemax="100"
                   [ngStyle]="{width:progress.percentage+'%'}">
                   {{progress.percentage}}%
             </div>
           </div>
 
         <label class="btn btn-default ">
           <input type="file" (change)="selectFile($event)">
         </label>
 
         <button class="btn btn-success btn-xs" [disabled]="!selectedFiles"
           (click)="upload()">Cambiar</button>
            <h4 class="card-title m-t-10">{{ dataInstitucion.nombre }}</h4>
          </div>
        </div>
        <div>
          <hr> </div>
          <div class="card-body"> <small class="text-muted">Email</small>
            <h6>{{dataInstitucion.email}} </h6>
            <small class="text-muted p-t-30 db">Tel.</small>
            <h6>{{dataInstitucion.telefono}}</h6>
            <small class="text-muted p-t-30 db">NIT</small>
            <h6>{{dataInstitucion.nit}} </h6>
            <p class="m-t-30">
              Visite: <br><a href="{{dataInstitucion.url}}" target="_blank">{{dataInstitucion.url}}</a></p>
             <div class="map-box">
               <agm-map
                 [latitude]="dataInstitucion.latitud"
                 [longitude]="dataInstitucion.longitud"
                 [zoom]="zoom" >
                 <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
               </agm-map>
             </div>
 
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-7 col-xlg-9 col-md-7">
        <div class="card">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs profile-tab" role="tablist">
            <li>
              <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Perfil</a>
            </li>
            <li>
              <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Configuraciones</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
              <!--second tab-->
              <div class="tab-pane active" id="profile" role="tabpanel">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 col-xs-6 b-r"> <strong>Nombre</strong>
                      <br>
                      <p class="text-muted">{{dataInstitucion.nombre}}</p>
                    </div>
                    <div class="col-md-4 col-xs-6 b-r"> <strong>Teléfono</strong>
                      <br>
                      <p class="text-muted">{{dataInstitucion.telefono}} </p>
                    </div>
                    <div class="col-md-4 col-xs-6 b-r"> <strong>Email</strong>
                      <br>
                      <p class="text-muted">{{dataInstitucion.email}} </p>
                    </div>
                  </div>
                  <hr>
 
                  <p>{{dataInstitucion.descripcion}} </p>
 
                </div>
              </div>
 
              <!--************************ Setting profile ************************* -->
 
              <div class="tab-pane" id="settings" role="tabpanel">
                <div class="card-body">
                  <form class="form-horizontal form-material"
                          name="dataUserForm"
                          id="dataUserForm"
                         (ngSubmit)="dataUserForm.form.valid && onSubmitDataUser()"
                         #dataUserForm="ngForm"
                         novalidate>
 
                   <input type="hidden"
                         name="idUsuario"
                         [(ngModel)]="dataUser.id"
                         #idUsuario="ngModel"
                         value="{{dataInstitucion.id}}">
 
                    <h3>Datos Generales</h3>
                    <hr>
 
                    <div class="form-group "
                          [ngClass]="{ 'has-danger': dataUserForm.submitted  && !nombre.valid }">
                      <label class="col-md-12"><strong>Nombre</strong></label>
                      <div class="col-md-12">
                        <input type="text"
                                class="form-control form-control-line"
                                name="nombre"
                                [(ngModel)]="dataUser.nombre"
                                #nombre="ngModel"
                                required>
 
                       <div class="form-control-feedback"
                           *ngIf="dataUserForm.submitted  && !nombre.valid">
                         <font style="vertical-align: inherit;">
                             <font style="vertical-align: inherit;">¡El nombre es obligatorio!</font>
                         </font>
                       </div>
                      </div>
                    </div>
 
                    <div class="form-group "
                          [ngClass]="{ 'has-danger': dataUserForm.submitted  && !nit.valid }">
                      <label for="example-email" class="col-md-12">
                        <strong>NIT</strong>
                      </label>
                      <div class="col-md-12">
                        <input type="text"
                                value="{{dataInstitucion.nit}}"
                                class="form-control form-control-line"
                                name="nit"
                                [(ngModel)]="dataUser.nit"
                                #nit="ngModel"
                                required >
 
                       <div class="form-control-feedback"
                           *ngIf="dataUserForm.submitted  && !nit.valid">
                         <font style="vertical-align: inherit;">
                             <font style="vertical-align: inherit;">¡El NIT es obligatorio!</font>
                         </font>
                       </div>
 
                      </div>
                    </div>
 
                    <div class="form-group "
                          [ngClass]="{ 'has-danger': dataUserForm.submitted  && !latitud.valid }">
                      <label for="example-email" class="col-md-12">
                        <strong>Latitud</strong>
                      </label>
                      <div class="col-md-12">
                        <input type="number"
                                value="{{dataInstitucion.latitud}}"
                                class="form-control form-control-line"
                                name="latitud"
                                [(ngModel)]="dataUser.latitud"
                                #latitud="ngModel"
                                required >
 
                        <div class="form-control-feedback"
                           *ngIf="dataUserForm.submitted  && !latitud.valid">
                         <font style="vertical-align: inherit;">
                             <font style="vertical-align: inherit;">¡La latitud es obligatoria!</font>
                         </font>
                       </div>
                      </div>
                    </div>
 
                    <div class="form-group "
                          [ngClass]="{ 'has-danger': dataUserForm.submitted  && !longitud.valid }">
                      <label for="example-email" class="col-md-12">
                        <strong>Longitud</strong>
                      </label>
                      <div class="col-md-12">
                        <input type="number"
                                value="{{dataInstitucion.longitud}}"
                                class="form-control form-control-line"
                                name="longitud"
                                [(ngModel)]="dataUser.longitud"
                                #longitud="ngModel"
                                required >
 
                        <div class="form-control-feedback"
                           *ngIf="dataUserForm.submitted  && !longitud.valid">
                         <font style="vertical-align: inherit;">
                             <font style="vertical-align: inherit;">¡La longitud es obligatoria!</font>
                         </font>
                       </div>
                      </div>
                    </div>
 
                    <div class="form-group "
                          [ngClass]="{ 'has-danger': dataUserForm.submitted  && !telefono.valid }">
                      <label for="example-email" class="col-md-12">
                        <strong>Teléfono</strong>
                      </label>
                      <div class="col-md-12">
                        <input type="text"
                                value="{{dataInstitucion.telefono}}"
                                class="form-control form-control-line"
                                name="telefono"
                                [(ngModel)]="dataUser.telefono"
                                #telefono="ngModel"
                                required >
 
                        <div class="form-control-feedback"
                           *ngIf="dataUserForm.submitted  && !telefono.valid">
                         <font style="vertical-align: inherit;">
                             <font style="vertical-align: inherit;">¡El teléfono es obligatorio!</font>
                         </font>
                       </div>
                      </div>
                    </div>
 
 
                    <div class="form-group "
                          [ngClass]="{ 'has-danger': dataUserForm.submitted  && !url.valid }">
                      <label for="example-email" class="col-md-12">
                        <strong>Dirección Web</strong>
                      </label>
                      <div class="col-md-12">
                        <input type="text"
                                value="{{dataInstitucion.url}}"
                                class="form-control form-control-line"
                                name="url"
                                [(ngModel)]="dataUser.url"
                                #url="ngModel"
                                required >
 
                        <div class="form-control-feedback"
                           *ngIf="dataUserForm.submitted  && !url.valid">
                         <font style="vertical-align: inherit;">
                             <font style="vertical-align: inherit;">¡La dirección web es obligatorio!</font>
                         </font>
                       </div>
                      </div>
                    </div>
 
                    <div class="form-group "
                          [ngClass]="{ 'has-danger': dataUserForm.submitted  && !url.valid }">
                      <label for="example-email" class="col-md-12">
                        <strong>Tipo de Institución</strong>
                      </label>
                      <div class="col-md-12">
                        <select class="form-control form-control-line"
                           name="tipoIntitucion"
                           [(ngModel)]="dataUser.tipoInstitucion.id"
                           #tipoIntitucion="ngModel"
                           required >
                           <option *ngFor="let tipoins of tipoIntituciones"
                                 value="{{tipoins.id}}">{{tipoins.nombre}} </option>
                        </select>
                      </div>
                    </div>
 
 
                    <div class="form-group "
                          [ngClass]="{ 'has-danger': dataUserForm.submitted  && !direccion.valid }">
                      <label for="example-email" class="col-md-12"><strong>Dirección</strong></label>
                      <div class="col-md-12">
                        <input type="text"
                                value="{{dataInstitucion.direccion}}"
                                class="form-control form-control-line"
                                name="direccion"
                                [(ngModel)]="dataUser.direccion"
                                #direccion="ngModel"
                                required >
 
                        <div class="form-control-feedback"
                           *ngIf="dataUserForm.submitted  && !direccion.valid">
                         <font style="vertical-align: inherit;">
                             <font style="vertical-align: inherit;">¡La dirección es obligatoria!</font>
                         </font>
                       </div>
                      </div>
                    </div>
 
                    <div class="form-group ">
                      <label for="example-email" class="col-md-12">
                        <strong>Descripción</strong>
                      </label>
                      <div class="col-md-12">
                        <textarea class="form-control form-control-line"
                                name="descripcion"
                                [(ngModel)]="dataUser.descripcion"
                                #descripcion="ngModel"
                                cols="30" rows="10">{{dataInstitucion.descripcion}}</textarea>
 
                      </div>
                    </div>
 
                    <div class="form-group">
                      <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Actualizar Perfil</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
 
 