<div class="row m-b-20">
  <div class="col-md-6 bg-info p-b-20 estudialo-works-color">
    <h1 class="white m-t-30">Test Guia Vocacional</h1>
  </div>
  <div class="col-md-6 p-b-20 bg-inner">
    <h3 class="m-t-20 text-info">Fase 8 de 8<span class="pull-right">100% Completado</span></h3>
    <div class="progress">
      <div class="progress-bar bg-info active progress-bar-striped" style="width: 100%; height:20px;"
           role="progressbar">
      </div>
    </div>
  </div>
</div>
<form #f="ngForm" novalidate>
  <div class="row m-b-20">
    <div class="col-md-12 text-center">
      <div class="col-md-6 offset-md-3 m-t-10 alert alert-success wow jello"><i class="fa fa-check"></i>
        En hora buena has terminado el test de guia vocacional
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 col-12 wow bounceInUp animated text-center mt-5 ">
      <div class="col-md-2 text-center cobre">
        <span class="fa fa-trophy fa-4x"></span>
      </div>
      <h3>{{resultTest.tercero.nombre}}</h3>
      <p>
        {{resultTest.tercero.descripcion}}
      </p>
      <button class="btn btn-success btn-rounded" >Ver ofertas</button>
    </div>


    <div class="col-md-4 col-12 wow bounceInUp animated text-center">
      <div class="col-md-2 text-center yellow">
        <span class="fa fa-trophy fa-4x"></span>
      </div>s
      <h3>{{resultTest.primero.nombre}}</h3>
      <p>
        {{resultTest.primero.descripcion}}
      </p>
      <button class="btn btn-success btn-rounded" >Ver ofertas</button>
    </div>

    <div class="col-md-4 col-12 wow bounceInUp animated text-center mt-3">
      <div class="col-md-2 text-center grey">
        <span class="fa fa-trophy fa-4x"></span>
      </div>
      <h3>{{resultTest.segundo.nombre}}</h3>
      <p>
        {{resultTest.segundo.descripcion}}
      </p>
      <button class="btn btn-success btn-rounded" >Ver ofertas</button>

    </div>


    <div class="col-md-12 text-center">
      <button class="btn btn-success btn-rounded" (click)="NextFase()"> Ver Ofertas Relacionadas
        <span style="margin-left:10px;" class="fa fa-check"></span>
      </button>
    </div>
  </div>
</form>





