<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" 
                      name="formRecoverypass"
                      (ngSubmit)="formRecoverypass.form.valid && onSubmitFormResetPass()"
                      #formRecoverypass="ngForm">

                    <h3 class="box-title m-b-20">Recuperación de Contraseña</h3>

                    <div class="form-group "
                                        [ngClass]="{ 'has-danger': formRecoverypass.submitted && !password.valid  }">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" minlength="5"
                                name="password"
                                #password="ngModel"
                                [(ngModel)]="passRecovery.password"
                                placeholder="Contraseña"
                                required="">
                        </div>

                        <div *ngIf="password.errors">
                            <div *ngIf="formRecoverypass.submitted && password.errors.required && !password.valid" class="form-control-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ¡La contraseña es obligatoria!
                                    </font>
                                </font>
                            </div>
                            <div *ngIf="formRecoverypass.submitted && password.errors.minlength && !password.valid" class="form-control-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ¡Constraseña demasiado corta!
                                    </font>
                                </font>
                            </div>
                        </div>
                    </div>


                    <!-- ******************************* Confirm password *********************************  -->
                <div  class="form-group "
                          [ngClass]="{ 'has-danger': formRecoverypass.submitted && !confirm_password.valid }">
                    <div class="col-xs-12">
                        <input
                              class="form-control"
                              id="confirm_password"
                              name="confirm_password"
                              placeholder="Confirmar Password"
                              required=""
                              type="password" validateEqual="password"
                              #confirm_password="ngModel"
                              [(ngModel)]="modelAux.confirm_password" >

                    </div>
                    <div *ngIf="!confirm_password.valid && formRecoverypass.submitted" class="form-control-feedback">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                ¡Las contraseñas no coinciden!
                            </font>
                        </font>
                    </div>
                </div>



                    <div class="form-group text-center p-b-10">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>