<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
	<!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-header-home></app-header-home>

    <div class="page-wrapper2 p-t-20">
      <div class="container card m-t-80">
        <router-outlet></router-outlet>
      </div>

      <app-partners></app-partners>
		<app-footer></app-footer>

    </div>

</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
