
<div class="row">
	<div class="col-md-12 call-to-action estudialo-works-color">
		<div class="fix-width">
			<div class="row text-center">
					
				<div class="col-sm pading-boton" data-toggle="tooltip" title="Ir a Mintic">
					<a
						href="http://www.mintic.gov.co/" target="_blank"><img
						src="assets/images/sponsors/mintic_Blanco.png"
						class="img-fluid-sponsor" alt="Responsive image"></a>
				</div>
				<br>
        <div class="col-sm pading-boton" data-toggle="tooltip" title="Ir a Codaltec">
          <a
            href="https://www.codaltec.com/" target="_blank"><img
            src="assets/images/sponsors/codaltec.png"
            class="img-fluid-sponsor" alt="Responsive image"></a>
				</div>
				<br>
				<div class="col-sm pading-boton" data-toggle="tooltip" title="Ir a Apps.co">
					<a
						href="https://www.apps.co/" target="_blank"><img
						src="assets/images/sponsors/appsco_Blanco.png"
						class="img-fluid-sponsor" alt="Responsive image"></a>
				</div>
			</div>
		</div>
	</div>
</div>
