<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <app-header-home></app-header-home>

  <div class="page-wrappe">

    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles m-t-80">
        <div class="col-md-12 align-self-center">
          <h3 class="text-themecolor">Noticias Estudialo</h3>
        </div>
      </div>

      <div class="text-center">{{ noticia.titulo }}</div>


    </div>
    <app-partners></app-partners>
    <app-footer></app-footer>
  </div>
</div>
