/* .dropdown:hover .dropdown-menu {
 	display: block;
 } */
.font-medium2 {
  font-weight: 550;
}

 .nav-item {
    width: 100%;
}

.navbar {
  padding: 0rem 1rem !important;
}

.carousel-estudialo {
  background-image: url('/assets/images/background/estudia_pizarra.jpg');
}

.carousel-estudialo {
  align-items: center;
  height: 350px;
  padding: 0;
}

.carousel-estudialo {
  align-items: center;
  height: 350px;
  padding: 0;
}

.carousel-estudialo {
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}


@media(max-width:767px){
  .hidden-filtros{
      display: none;
  }
  .show-button-filters{
      display: inline;
  }
}

@media(min-width: 767px){
  .show-button-filters{
      display: none;
  }
}
