<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile" [class.active]="showMenu === 'user'">
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" (click)="addExpandClass('user')" aria-expanded="false"><img src="/api/imagen/institucion/{{dataUser.urlImagen}}" alt="user" /><span class="hide-menu">{{dataUser.nombres}} </span></a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'user'">
            <li>
              <a routerLink="/institucion/perfil-ins">Mi perfil </a>
            </li>
            <li>
              <a routerLink="/freelancer/perfil-freelancer" (click)="salir()" >Cerrar Sesión</a>
            </li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PERSONAL</li>
        <li [class.active]="showMenu === 'icons'">
            <a class="has-arrow" href="javascript:void(0)" 
                aria-expanded="false" 
                (click)="addExpandClass('icons')" >
                <span class="hide-menu">Rol</span>
            </a>
            <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'icons'">
                <li *ngFor="let rol of nameRoles">
                    <a routerLink="{{rol.url}}" [routerLinkActive]="['router-link-active']">{{rol.nombre}}</a>
                </li>
              
            </ul>
        </li>
        <li>
            <a routerLink="/institucion/ins-ofertas" [routerLinkActive]="['router-link-active']"><i class="fa fa-list"></i><span class="hide-menu">Ofertas</span></a>
        </li>
        <li>
            <a routerLink="/institucion/ins-inscripciones" 
                [routerLinkActive]="['router-link-active']">
                <i class="fa fa-plus-square"></i>
                <span class="hide-menu">Inscripciones</span>
            </a>
        </li>


         <li>
            <a routerLink="/institucion/ins-nueva-oferta" [routerLinkActive]="['router-link-active']"><i class="fa fa-pencil"></i><span class="hide-menu">Nueva Oferta</span></a>
        </li>
<!--
        <li [class.active]="showMenu === 'component'">
            <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" aria-expanded="false">
              <i class="fa fa-building"></i><span class="hide-menu">Eventos</span>
            </a>
            <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component'">
              <li>
                <a routerLink="/institucion/lista-eventos" [routerLinkActive]="['router-link-active']">Ver Eventos</a>
              </li>
              <li>
                <a routerLink="/institucion/crear-evento" [routerLinkActive]="['router-link-active']">Crear Eventos</a>
              </li>

            </ul>
        </li> -->


      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
