<div class="page-wrapper2">
			<!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles m-t-80">
                <div class="col-md-12 align-self-center">
                    <h3 class="text-themecolor">Detalle de la Universidad</h3>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">

                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5" *ngFor="let detalle of detalleUniversidad">
                        <div class="card"> <img class="card-img" src="/assets/images/background/estudia33.jpg">
                            <div class="card-img-overlay card-inverse social-profile d-flex ">
                                <div class="col-md-12 align-self-center">
                                	<img src="http://estudialo.co/api/imagen/institucion/{{detalle.urlImagen}}" class="logo-responsive-financiera">
                                	<br>
                                	<br>
                                    <h4 class="card-title">{{detalle.nombre}}</h4>
                                    <h6 class="card-subtitle">Nit: {{detalle.nit}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body" *ngFor="let detalle of detalleUniversidad">
                                <div>
                                	<small class="text-muted">Nit </small>
                                	<h6>{{detalle.nit}}</h6>
                                	<small class="text-muted">Telefono</small>
                                	<h6>{{detalle.telefono}}</h6>
                                	<small class="text-muted">email</small>
                                	<h6>{{detalle.email}}</h6>
                                	<small class="text-muted">dirección</small>
                                	<h6>{{detalle.direccion}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#detalles" role="tab">Información</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                            	<!--first tab-->
                                <div class="tab-pane active" id="detalles" role="tabpanel">

                                    <div class="card-body" *ngFor="let detalle of detalleUniversidad">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-3 b-r"> <strong>Tipo</strong>
                                                <br>
                                                <p class="text-muted">{{detalle.tipoInstitucion.nombre}}</p>
                                            </div>
                                            <div class="col-md-9 col-xs-9"> <strong>Descripción</strong>
                                                <br>
                                                <p class="text-muted">{{detalle.descripcion}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <p class="m-t-30">Visite: <br><a href="{{detalle.url}}" target="_blank">{{detalle.url}}</a></p>
                                        <div class="map-box">
                                          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
                                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                          </agm-map>
                                        </div>
                                    </div>




                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
</div>
