@import url("/assets/css/pages/stylish-tooltip.css");
/* inicio herader buscador  */

.carousel-estudialo {
    background-image: url('/assets/images/background/estudia_pizarra.jpg');
}

.carousel-estudialo {
    align-items: center;
    height: 350px;
    padding: 0;
}

.carousel-estudialo {
    align-items: center;
    height: 350px;
    padding: 0;
}

.carousel-estudialo {
    display: flex;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.home-left-card {
    border-radius: 0px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    padding: 1em;
    margin-bottom: 1em; }

.home-left-card .title {
  opacity: 0.87;
  font-size: 1.6rem;
}

.background-dark-trans {
	background: rgba(0,0,0,0.47);
}

.last-price{
 	order: -1;
    color: #686f7a;
    font-weight: 400;
    font-size: 13px;
    margin-right: 5px;
 	text-decoration: line-through;
 }
 .button-padding{
	padding: 20px;

 }

 .padding-30{
    padding: 30px;
 }


 .estudialo-star{
  font-size: 12px;
 }


.home-desktop-supercategories__list__item.active .home-desktop-supercategories__list__title {
    font-weight: bold; }
  .home-desktop-supercategories__list__title::first-letter {
    text-transform: uppercase; }
  .home-desktop-supercategories__list__item {
    display: -ms-flexbox !important;
    display: flex !important;
    padding-bottom: 2rem !important;
    cursor: pointer; }
    .home-desktop-supercategories__list__item.active {
      color: #2ecc71; }
      .home-desktop-supercategories__list__item.active path,
      .home-desktop-supercategories__list__item.active .icon {
        color: #2ecc71;
        fill: #2ecc71;
        opacity: 1; }
  .home-desktop-supercategories__list__item:last-child {
    padding-bottom: 0 !important; }


.establishment-item {
    border: solid 1px rgba(0, 0, 0, 0.12);
    margin-bottom: 1.9rem; }
.rating-cd {
      margin-top: 0.6rem;
       }

.establishment-item .right {
  -ms-flex-positive: 1;
  flex-grow: 1; }

.establishment-item .right .right-bottom {
	-ms-flex-positive: 2;
    flex-grow: 2; }

.establishment-item .logo {
  width: 9.4rem;
  height: 9.4rem;
  margin-right: 2rem; }

.establishment-item .left {
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-positive: 2;
      flex-grow: 2;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 40%; }

.establishment-item .name {
  font-weight: bold;
  margin-bottom: .7rem; }

.establishment-item .name-desktop {
  width: 70%; }

.establishment-item .column-item_title,
.establishment-item .column-item_description {
  font-size: 1.3rem; }

.establishment-item .order-now {
  width: 10.7rem;
  height: 2.7rem;
  border-radius: .4rem;
  font-weight: 600; }

.establishment-item .order-now-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

/* contenido oferta */

.section-bg {
    background-image: url(https://domicilios.com/img/resources/external_banners/web/web-coca-cola.png) !important;
    background-position: left;
}

.domi-main-section {
    color: #FFF;
}

.section-bg {
    height: 246px;
    background-position: center;
    top: 0px;
    position: relative;
}

.slider {
    width: 493px;
    height: 244px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    background: rgba(0,0,0,0.47);
    margin: 0;
    position: relative;
    z-index: 1;
    right: 10px;
}

@media(max-width:767px){
    .hidden-filtros{
        display: none;
    }
    .show-button-filters{
        display: inline;
    }
}

@media(min-width: 767px){
    .show-button-filters{
        display: none;
    }
}
